/* Css chỉnh sửa */
.mg-form {
  margin-bottom: 10px;
}

.center-form {
  margin: 50px auto;
}

.mg-btn {
  width: 70%;
  margin-top: 10px;
}

.btn-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-style: italic;
  color: red;
  font-size: 14px;
}
